<nav class="col-lg-3 col-xl-2 d-lg-block sidebar collapse" id="navbarTogglerDemo">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        
        <li class="nav-item">
          <% if(flag==1){  %>
          <a class="nav-link active" href="/adminpanel/dashboard" >
          <% }else{ %>
          <a class="nav-link " href="/adminpanel/dashboard" >
          <% } %>
            <i class="fa fa-tachometer"></i>
            داشبورد
          </a>
        </li>
        <li class="nav-item">
          <% if(flag==2){  %>
            <a class="nav-link active" href="/adminpanel/chats" >
            <% }else{ %>
              <a class="nav-link" href="/adminpanel/chats" >
            <% } %>
            <i class="fa fa-commenting"></i>
            گفتگو های متنی
          </a>
        </li>
        <li class="nav-item">
          <% if(flag==3){  %>
            <a class="nav-link active" href="/AdminPanel/telereserves" >
            <% }else{ %>
              <a class="nav-link" href="/AdminPanel/telereserves" >
            <% } %>
            <i class="fa fa-phone"></i>
            رزرو های تلفنی
          </a>
        </li>
        <li class="nav-item">
          <% if(flag==4){  %>
            <a class="nav-link active" href="/adminpanel/doctors" >
            <% }else{ %>
              <a class="nav-link" href="/adminpanel/doctors" >
            <% } %>
            <i class="fa fa-user-md"></i>
            دکتر ها
          </a>
        </li>
        <li class="nav-item">
          <% if(flag==5){  %>
            <a class="nav-link active" href="/adminpanel/healthcenters" >
            <% }else{ %>
              <a class="nav-link" href="/adminpanel/healthcenters" >
            <% } %>
            <i class="fa fa-heartbeat"></i>
            مراکز درمانی
          </a>
        </li>
        <li class="nav-item">
          <% if(flag==6){  %>
            <a class="nav-link active" href="/adminpanel/comments" >
            <% }else{ %>
              <a class="nav-link" href="/adminpanel/comments" >
            <% } %>
            <i class="fa fa-commenting"></i>
            نظرات
          </a>
        </li>
        <li class="nav-item">
          <% if(flag==7){  %>
            <a class="nav-link active" href="/adminpanel/visittimes" >
            <% }else{ %>
              <a class="nav-link" href="/adminpanel/visittimes">
            <% } %>
              <i class="fa fa-calendar"></i>
              تعیین زمانبندی
            </a>
        </li>
        <li class="nav-item">
          <% if(flag==8){  %>
            <a class="nav-link active" href="/adminpanel/costmanage" >
            <% }else{ %>
              <a class="nav-link " href="/adminpanel/costmanage">
            <% } %>
            <i class="fa fa-calendar"></i>
            تعیین هزینه ها
          </a>
      </li>
        <li class="nav-item">
          <% if(flag==9){  %>
            <a class="nav-link active" href="/adminpanel/categories" >
            <% }else{ %>
              <a class="nav-link" href="/adminpanel/categories" >
            <% } %>
            <i class="fa fa-book"></i>
            تخصص ها
          </a>
        </li>
        <li class="nav-item">
          <% if(flag==10){  %>
            <a class="nav-link active" href="/adminpanel/patients" >
            <% }else{ %>
              <a class="nav-link" href="/adminpanel/patients" >
            <% } %>
            <i class="fa fa-users"></i>
            بیماران
          </a>
        </li>
        <li class="nav-item">
          <% if(flag==11){  %>
            <a class="nav-link active" href="/adminpanel/transactions" >
            <% }else{ %>
              <a class="nav-link" href="/adminpanel/transactions" >
            <% } %>
            <i class="fa fa-money"></i>
            تراکنش های مالی
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exit" >
            <i class="fa fa-sign-out"></i>
            خروج
          </a>
        </li>
      </ul>

      </div>
  </nav>