<!DOCTYPE html>
<html dir="rtl" class="fa-events-icons-ready" lang="en"><head>
  <meta charset="utf-8">
  <base href="http://reservation.drtajviz.com/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>اضافه کردن دسته بندی - دکتر تجویز</title>
  <link rel="icon" href="favicon.ico">

  <title></title>

  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.1.3/css/bootstrap.min.css" integrity="sha384-Jt6Tol1A2P9JBesGeCxNrxkmRFSjWCBW1Af7CSQSKsfMVQCqnUVWhZzG0puJMCK6" crossorigin="anonymous">
  <link href="assets/panelassests/dashboard.rtl.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/6d68f18b97.js"></script>
  <link href="https://use.fontawesome.com/6d68f18b97.css" media="all" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css">
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg nav-dark">
    <a class="navbar-brand mr-2" href="#">داشبورد برند</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars menu-icon"></i>
    </button>
    
  </nav>


  <div class="container-fluid">
    <div class="row">
      
      <nav class="col-lg-3 col-xl-2 d-lg-block sidebar collapse" id="navbarTogglerDemo">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="balance text-white">موجودی: 12345</a>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-tachometer"></i>
                داشبورد
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-user-md"></i>
                دکتر ها
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="fa fa-book"></i>
                تخصص ها
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-users"></i>
                بیماران
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-cog"></i>
                درباره ما
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-cog"></i>
                تماس با ما
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-sign-out"></i>
                خروج
              </a>
            </li>
          </ul>

          </div>
      </nav>
      
      <main role="main" class=" ml-sm-auto col-lg-9 col-xl-10 px-4" id="specialties">
        <div class="container-fluid">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">تخصص ها</h1>
            <a href="" class="btn btn-success">
              <i class="fa fa-plus"></i>
              اضافه کردن
            </a>
          </div>

          <div class="row">
            <% for( let i=0 ; i< categories.length ; i++) { %>
            <!-- for loop here -->
            <div class="col-xl-4 col-sm-6 col-xs-12">
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <div class="specialty-img" style="background-image: url('<%=categories[i].image %>');">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-2 h-100 d-flex flex-column justify-content-between">
                      <h5 class="card-title">
                       <%= categories[i].name %>
                      </h5>
                      <div class="d-flex justify-content-end">
                        <a class="btn btn-info btn-sm mr-2" href="">
                          <i class="fa fa-edit"></i>
                          اصلاح
                        </a>
                        <a class="btn btn-danger btn-sm" href="">
                          <i class="fa fa-trash"></i>
                          حذف
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <!-- end for -->
          </div>


        </div>
      </main>
      
    </div>
  </div>
  


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="assets/panelassests/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.1.3/js/bootstrap.min.js" integrity="sha384-C/pvytx0t5v9BEbkMlBAGSPnI1TQU1IrTJ6DJbC8GBHqdMnChcb6U4xg4uRkIQCV" crossorigin="anonymous"></script>

</body>
</html>