<html>
    <body>
        <form action="test" enctype="multipart/form-data" method="POST">
            <input type="file" class="form-control-file" name="image" id="image">
            <button type="submit">
                submit
            </button>
        </form>
    </body>
</html>